.modal {
  padding: var(--spacing-l);
  min-width: 50%;
  min-height: 25%;
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);

  @media (max-width: 950px) {
    width: 90%;
  }
}

.modal button {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 7%;
}

.modal button img {
  width: 1rem;
}
