:root {
  --palette-border: #e7e6e6;
  --palette-hover: #f2f6f9;
  --palette-mainText: #1c1c1c;

  --spacing-s: 1rem;
  --spacing-xs: 0.5rem;
  --spacing-xxs: 0.2rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  padding: var(--spacing-s);
  color: var(--palette-mainText);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span {
  font-weight: 300;
  font-style: normal;
}
