:root {
  --palette-border: #e7e6e6;
  --palette-hover: #f8fafc;
  --palette-mainText: #1c1c1c;

  --spacing-l: 1.8rem;
  --spacing-m: 1.5rem;
  --spacing-s: 1rem;
  --spacing-xs: 0.5rem;
  --spacing-xxs: 0.2rem;

  --font-size-h: 2.5rem;
  --font-size-stat: 1.5rem;
  --font-size-regular: 0.9rem;
  --font-size-label: 0.8rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  padding: var(--spacing-s);
  color: var(--palette-mainText);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span {
  font-weight: 300;
  font-style: normal;
  font-size: var(--font-size-regular);
}

img {
  display: block;
}
