.searchWrapper {
  position: relative;
  width: 100%;
}

.searchWrapper button {
  position: absolute;
  transform: translateY(-50%);
  right: 10px;
  top: 35%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searchWrapper button img {
  height: 0.8rem;
}

.searchIcon {
  position: absolute;
  top: 35%;
  left: 10px;
  transform: translateY(-50%);
  height: 1.2rem;
}

.input {
  padding: var(--spacing-xs);
  padding-left: 40px;
  margin-bottom: var(--spacing-s);
  width: 100%;
  border: 0;
  border-bottom: var(--border);
  font-size: var(--font-size-regular);
  border-radius: var(--border-radius);
  background-color: var(--palette-hover);
}

.input::placeholder {
  font-size: var(--font-size-label);
  color: color-mix(in srgb, var(--palette-mainText) 40%, transparent);
}
