.container {
  max-height: 500px;
  overflow: auto;
  border-bottom: 1px solid var(--palette-border);
}

.table {
  width: 100%;
  border-collapse: separate;
}

.row {
  height: 4rem;
  border-bottom: 1px solid var(--palette-border);
}

.row:hover {
  background-color: var(--palette-hover) !important;
}

.cell {
  padding: var(--spacing-s);
  border-bottom: 1px solid var(--palette-border);
}

.header {
  background-color: white;
  position: sticky;
  top: 0px;
}

.headerCell div {
  display: flex;
  gap: var(--spacing-xs);
}

.headerCell {
  padding: var(--spacing-s);
  text-align: left;
  border-bottom: 1px solid var(--palette-border);
  text-transform: uppercase;
  font-size: 0.8rem;
  position: sticky;
}

.headerCell:nth-child(2),
.cell:nth-child(2) {
  width: 20%;
}

.headerCell:nth-child(3) div,
.headerCell:nth-child(4) div {
  justify-content: flex-end;
}

.cell:nth-child(3),
.cell:nth-child(4) {
  text-align: end;
}

.cell:nth-child(3) img,
.cell:nth-child(4) img {
  margin-left: auto;
}

.table img {
  height: 2rem;
}

.headerCell img {
  height: 1rem;
}

.planetButton {
  background-color: var(--color);
  border: none;
  padding: var(--spacing-xs);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
  height: 2rem;
}
