.container {
  max-height: 800px;
  overflow: auto;
  border-bottom: var(--border);
}

.table {
  width: 100%;
}

.row {
  height: 4rem;
  border-bottom: var(--border);
}

.row:hover {
  background-color: var(--palette-hover) !important;
}

.cell {
  padding: var(--spacing-s);
  border-bottom: var(--border);
}

.header {
  background-color: white;
  position: sticky;
  top: 0px;
  box-shadow: 0 0px 50px 0px #e6e5e5;
}

.headerCell div {
  display: flex;
  gap: var(--spacing-xs);
}

.headerCell {
  padding: var(--spacing-s);
  text-align: left;
  border-bottom: var(--border);
  text-transform: uppercase;
  font-size: var(--font-size-label);
  position: sticky;
}

.headerCell:nth-child(1),
.cell:nth-child(1) {
  padding-right: 0;
}

.headerCell:nth-child(2),
.cell:nth-child(2) {
  width: 20%;
}

.headerCell:nth-child(3) div,
.headerCell:nth-child(4) div {
  justify-content: flex-end;
}

.cell:nth-child(3),
.cell:nth-child(4) {
  text-align: end;
}

.cell:nth-child(3) img,
.cell:nth-child(4) img {
  margin-left: auto;
}

.unknownIcon {
  height: 2rem;
}

.noResultsMsg {
  padding: var(--spacing-s);
  font-size: var(--font-size-regular);
  display: inline-block;
  width: 100%;
}
